{% extends 'base.html.twig' %}

{% block title %}Liste des employes{% endblock %}

{% block body %}
<h1>Liste des employes</h1>

{% if employes %}
     {% for employe in employes %}
          <a href="{{ path('show_employe', {'id': employe.id}) }}">{{ employe}}</a>
          
          <a class="btn btn-warning btn-sm" href="{{ path('edit_employe', {'id' : employe.id}) }}">edit</a>

          <a class="btn btn-danger btn-sm" href="{{ path('delete_employe', {'id' : employe.id}) }}">delete</a>

          <br>
     {% endfor %}
     
{% else %}
     <p>Il semblerait qu'aucun salarié ne soit renseignée en base de données.</p>
{% endif %}

{% endblock %}


